@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error @Model.StatusCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <h3>@Model.ErrorMessage</h3>
</p>
<a href="@Url.Action("", "")" class="waves-effect waves-light btn">Back to home</
